*{
  padding: 0px;
  margin: 0px;
}

.contenedor{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}



/*MODIFICAR MENU*/
.contenedor-menu{
  text-align: center;
}
.contenedor-menu li,.contenedor-menu span{
  margin-top: 1%;
  display: inline-block;
  font-size: 20px;
  margin-right: 5%;
}

a{
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}
a:hover{
  background-color: darkmagenta;
  color: white;
  font-size: 30px;
}
a:active{
  background-color: green;
  color: white;
}


.contenedor-servivio{
  margin-top: 4%;
  margin-bottom: 4%;
  background-image: url("img1.jpg");
  background-repeat: no-repeat ;
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: 70% 100%;
}

.servivio{
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5%;
  width: 70%;
}

.servivio h1{
  display: inline;
  font-size: 50px;
  margin: 4%;
  background: rgb(210, 214, 255, .75);
  border-radius: 2%;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
}

.servivio p{
  margin: 5%;
  font-size: 25px;
  background: rgb(210, 214, 255, .75);
  border-radius: 5%;
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
}

.servivio li{
  display: inline-block;
  font-size: 25px;
  padding: 2%;
  margin: 2%;
  border: 2px solid black;
  background: rgb(210, 214, 255, .75);
  border-radius: 5%;
}
.servivio ul{
  text-align: center;
}


.container {  
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  gap: 5% 0px;
  align-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container h2{
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
  font-size: 28px;
  
}

.imagenes{
  height: 250px;
}

